<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758607809694-a59rnsn9fdrc64ar49vkpjt255ujbrmk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758607809694-a59rnsn9fdrc64ar49vkpjt255ujbrmk</string>
	<key>API_KEY</key>
	<string>AIzaSyD8Q8fEUPljNrrCNLpxMO-nrCa5fmurxQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>758607809694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.germanhernandez.TodoListApp</string>
	<key>PROJECT_ID</key>
	<string>todolistapp-b6253</string>
	<key>STORAGE_BUCKET</key>
	<string>todolistapp-b6253.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758607809694:ios:f4bf12f2b40f91a2793f8f</string>
</dict>
</plist>